{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "strict",
  "semi": true,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "rangeStart": 0,
  "insertPragma": false,
  "jsxSingleQuote": true,
  "proseWrap": "preserve",
  "requirePragma": false
}
